---
import BaseLayout from "@/layouts/BaseLayout.astro";
import About from "@/components/landing/About.astro";
import Badges from "@/components/landing/Badges.astro";
---

<BaseLayout>
  <div id="top-center">
    <a
      class="bg-black border text-3xl ml-auto mr-1 block w-fit"
      href="/projects/">Projects 🡒</a
    >
  </div>
  <div
    class="flex flex-wrap justify-center md:justify-between md:pt-20 lg:pt-0 lg:px-20 w-screen items-center"
  >
  </div>
  <div
    class="flex flex-wrap justify-center md:justify-between md:pt-20 lg:pt-0 lg:px-20 w-screen items-center"
  >
    <About />
    <Badges />
  </div>
</BaseLayout>
<style>
  @media screen and (min-width: 780px) {
    #top-center {
      z-index: 99;
      position: fixed;
      left: 50%;
      top: 4rem;
      transform: translateX(-50%) perspective(1000px) rotateX(30deg);
    }
  }
  #top-center a {
    padding: 1rem 2rem;
    transition: all 0.2s;
  }
  #top-center:hover a {
    opacity: 0.5;
  }
</style>
